*{
	margin: 0;
	padding: 0;
	z-index: 2;
	box-sizing: border-box;
}

.particle, .particle > canvas, #particles-js {
  z-index: -2 !important;
}

.cap{
	width: 100%;
	height: auto;
  font-size: 60px;
  padding-top: 40px;
	padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
	font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.typ{
	top: 20%;
  left: : 50%;
	padding-top: 10%;
	padding-bottom: : 5%;
	width: auto;
	height: 300px;
	text-align: center;
}

.aboutsec{
	margin: 10px 0px;
	text-align: center;
}

.aboutsec h1{
	padding-top: 30px;
	padding-bottom: 30px;
	width: auto;
	height: 100px;
	text-align: center;
	z-index: -5;
	font-size: 120px;
	color: rgba(255, 255, 255, 0.1);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.aboutsec h2{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 7px;
	height: 100px;
}

.aboutsec p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: left;
	line-height: 35px;
}
/*M2pro*/
@media (max-width: 500px) {
	header .colorlib-navbar-brand .colorlib-logo{
		font-size: 19px;
		letter-spacing: 2px;
		padding-left: 40px;
	}
	header .colorlib-navbar-brand .colorlib-logo .logo-img {
    width: 35px;
    height: 35px;
	}
	.cap{
		font-size: 30px;
		padding-top: 80px;
		padding-bottom: 50px;
		height: 200px;
  }
.typ{
	height: 200px;
  }
	.aboutsec h1{
		padding-top: 0px;
		font-size: 80px;
		height: 39px;
  }
	.aboutsec h2{
		font-size: 20px;
		letter-spacing: 5px;
		height: 80px;
  }
	.aboutsec p {
		font-size: 14px;
		letter-spacing: 0.5px;
		line-height: 25px;
	}
	.ftco-footer-social li a {
		height: 45px;
		width: 45px;
	}
	.ftco-footer-social li a span {
	  font-size: 20px;
	}
	.ftco-footer-social li:nth-child(2) a span {
		font-size: 21px;
	}
	.ftco-footer-social li:nth-child(1) a span {
    font-size: 24px;
	}
	h2, .h2 {
    font-size: 1.2rem;
	}
	h3, .h3 {
    font-size: 1.2rem;
	}
	.ftco-footer {
    font-size: 14px;
	}
	.ftco-footer-social li {
	  margin: 0 10px -8px 0;
	}
	.ftco-footer-widget .mb-3{
	    margin-bottom: 0.3rem !important
	}
	.ftco-footer .container .mb-4{
		margin-bottom: 0.2rem !important;
	}
}
