* {
	margin: 0;
	padding: 0;
	z-index: 2;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.particle, .particle > canvas, #particles-js {
  z-index: -10 !important;
}

::-webkit-scrollbar {
	display: none;
}

header {
	position: absolute;
}

.navbar-logo {
	margin-top: 2em;
	margin-left: 1em;
	float: left;
}

.logo-full {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: .3vw;
	display: block;
	position: relative;
}

.logo-img {
	top: 0;
	left: 0;
	width: 1.93em;
	height: 1.93em;
	border-radius: 50%;
}

.logo-full:hover {
	text-decoration: none !important;
}

.logo-full:active, .logo-full:focus {
	outline: none;
	text-decoration: none;
}

.main-box {
	width: 100vw;
	height: 100vh;
}

.typer-text {
	width: 100%;
	font-weight: 700;
	font-size: 1.9em;
	letter-spacing: .5vw;
}

.typer{
	overflow: hidden;
}

.vertically-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.big-about{
	width: auto;
	text-align: center;
	font-size: 7em;
	color: rgba(255, 255, 255, 0.1);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.center-over-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me-title {
	width: 80%;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	letter-spacing: .2em;
}

.about-desc{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #9ea2a1;
	letter-spacing: .12em;
	text-align: justify-all;
	line-height: 2em;
}

.ftco-footer {
  font-size: .8em;
  padding: 8em 0; 
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; 
}

.ftco-footer .ftco-footer-widget h2, .ftco-footer .ftco-footer-widget h4 {
	font-size: 1.3em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9); 
}

.ftco-footer .ftco-footer-widget .email a {
	font-size: .6em;
    color: #fff; 
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: 700; 
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.5); 
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.5); 
}

.ftco-footer a:hover {
    color: #fff; 
}

.ftco-footer .ftco-heading {
    /*font-size: 24px; */
}

.ftco-footer .ftco-heading-2 {
    /*font-size: 18px;*/
    font-weight: bold;
    color: #121212; 
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block; 
}

ul{
	margin-bottom: .5em
}

.ftco-footer-social li a {
    height: 3em;
    width: 3em;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; 
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 23px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}
.ftco-footer-social li a:hover {
  color: #fff; 
}

.ftco-footer-social li:nth-child(1) a:hover {
  color: orange; 
}

.ftco-footer-social li:nth-child(2) a:hover {
  color: violet; 
}

.ftco-footer-social li:nth-child(3) a:hover {
  color: #007bff; 
}


.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #d4d4d4;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 2em 0; 
}

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px; 
}

.ftco-section {
  padding: 1.5em 0; 
}

.ftco-footer-social li a span {
	font-size: 1.25em;
}
.ftco-footer-social li:nth-child(2) a span {
	font-size: 1.3em;
}
.ftco-footer-social li:nth-child(1) a span {
    font-size: 1.35em;
}

@media (max-width: 992px) {
	body{
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	body{
		font-size: 15px;
	}
}

@media (max-width: 576px) {
	body{
		font-size: 13px;
	}
}
